.userCard{
     display: flex;
     gap: 1.2rem;
     padding: 1.3rem;
     align-items: center;
     box-shadow: 2px 3px 0px rgba(124, 120, 120, 0.1);
}

.userCard_image{
     width: 10%;
     border-radius: 50%;

}
.allUserProfile{
     max-width: 80%;
     display: flex;
     align-items: center;
     flex-direction: column;
     gap: 1.2rem;
     cursor: pointer;
      
}