.container{
     padding: 1.3rem;
     background: rgb(230 ,230,230);
     display: flex;
     flex-direction: column;
     gap: 1.2rem;

}
.backDropContainer{
     width: 100%;
     height: 30vh;
     background: url("https://images.pexels.com/photos/1021365/pexels-photo-1021365.jpeg");
     background-size: cover;
background-repeat: no-repeat;
position: relative;
border-radius: 20px;


}


 .backDropContainer>img{
     width: 8em;
     height: 8em;
     object-fit: cover;
     border-radius: 50%;
     position: absolute;
     bottom: 40%;
     left: 8%;
     align-items: center;
     text-align: center;
 }



.profileContainer_details{
     padding-top: 0.6rem;
}
.card{
     display: flex;
     align-items: center;
     gap: 1.4rem;

}
.card_profileContainer{
     display: flex;
}

.card_profileContainer>img{
    width: 3.4rem;
    height: auto;
    height: 3.4rem;
    object-fit: cover;
}
.connectButton{
     padding-inline: 0.8rem;
     padding-block: 0.3rem;
     border: 10x solid rgba(3,93,183,0.905);
     outline: none;
     border: none;
     border-radius: 10px;
     cursor: pointer;
}


.connectBtn{
     padding-inline: 0.8rem;
     padding-block: 0.3rem;
background: rgba(3,93,183,0.905);
     outline: none;
     border: none;
     border-radius: 10px;
     cursor: pointer;
}
.workHistoryContainer{
     display: flex;
     gap: 1.4rem;
     padding-top: 1.4rem;
     width: 100%;
     flex-wrap: wrap;


}

.workHistoryCard{
     min-width: fit-content;
     padding-inline: 2.5rem;
     padding-block: 1rem;
     border-radius: 10px;
     box-shadow: 10px 10px 15px rgb(173,173,173);
}

.profileContainer_flex{
     display:flex;
     gap:0.7rem;
}
@media only screen and (max-width:600px){
     .profileContainer_flex{
             flex-direction: column;
     }
}